body {
    background-color:lightblue;
    flex: 1;
    min-height: 100%;
    flex-direction:column;
}

.page-container{
    display: block;
    flex: 1;
}

h1 {
    font-size: 24px;
    color: lightgray;
}
